
      #map {
        height: 100%;
      }
      /* Optional: Makes the sample page fill the window. */
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }

      h2 {
      	color: red;
      	text-align: center;
      }

      h3 {
      	color: blue;
      	text-align: center;
      }

      p{
      	text-align: center;
      }
    